[Unit]
Description=countit program
After=syslog.target

[Service]
Type=simple
ExecStart=/home/countit/CountIoT/bat/countitStart.sh
Restart=always

[Install]
WantedBy = multi-user.target